.app {
  font-family: Arial, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column; /* Stack header on top of the main content */
  height: 100vh; /* Use full viewport height */
  overflow: hidden; /* Prevent scrolling */
}

body {
  background: #a391ab
}

@font-face {
  font-family: "Adventurer";
  src: url("../assets/Adventurer.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Adventurer", serif;
}

h2 {
  font-family: "Adventurer", serif;
}

h3 {
  font-family: "Adventurer", serif;
}

p {
  font-family: "Adventurer", serif;
}

.main-content {
  display: flex; /* Horizontal layout for sections and map */
  flex-grow: 1;
  overflow: hidden; /* Prevent scrolling within the main content */
  height: calc(100vh - 100px); /* Subtract header height */
  gap: 20px; /* Adds space between sections and map */
}