@font-face {
    font-family: "Adventurer";
    src: url("../assets/Adventurer.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }    

  .map {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distribute nodes evenly */
    align-items: flex-start; /* Align everything to the left */
    width: 100%; /* Full width */
    height: 80%; /* Map occupies 80% of the available space */
    margin: 10% auto; /* Add 10% margin to top and bottom */
    box-sizing: border-box; /* Include padding in width/height calculations */
  }

  .map-container {
    flex: 1.5; /* Occupy less space */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%; /* Match main content height */
    overflow: visible;
    max-width: 350px; /* Ensure it doesn't grow beyond a reasonable width */
  }  
  
  .map-node {
    display: flex;
    flex-direction: row; /* Character and circle in a row */
    align-items: center;
    margin-left: 30px; /* Spacing between character and map */
    position: relative; /* Ensure character is positioned relative to node */
  }
  
  .map-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #333;
    margin-right: 20px; /* Space between the circle and the text */
    transition: background-color 0.3s ease-in-out;
  }
  
  .map-node.active .map-circle {
    transform: scale(1.5);
    background-color: #121212; /* Highlight active node */
    box-shadow: 0 0 10px 5px #473b4858; /* Glow effect */
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
  
  .map-label {
    font-size: 24px;
    font-family: "Adventurer", serif;
    color: #333;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    margin-left: 10px; /* Add additional space between the circle and the text */
  }
  
  .map-line {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #333;
    left: 36px;
    z-index: -1;
  }